<!--Tasks View -->
<div class="col-2-3 tasks">
    <a href="/add_task?project_id=<%= project_id %>&project_title=<%= project_title %>">
        <div class="add-task-bar">
            <i class="ut-plus"></i>
            <p>Add Task</p>
        </div>
    </a>
	<div class="wrapper task-list">
        <% for(var i=0; i<task_data.length; i++) { %>
		<div class="task" data-value="<%= project_colour %>">
			<div class="task-header">
				<p class="task-title"><%= task_data[i].task_title %></p>
				<a href="javascript:void(0)" class="task-toggle"><i class="ut-plus"></i></a>
				<div class="task-quick-info">
					<p class="task-due-date"><i class="ut-clock"></i> Apr 10</p>
					<p class="task-to-do"><i class="ut-check"></i> 1/3</p>
				</div>
			</div>
			<div class="task-info">
				<div class="task-info-header">
					<p class="due-date">Due Date: 10th April</p>
					<p class="task-body"><%= task_data[i].description %></p>
                    <div class="task-users">
                        <ul>
						  <li><i class="ut-user"></i><%= username %></li>
                        </ul>
					</div>
					<div class="task-requirments">
						<ul>
							<li class="task-requirment"><%= requirement_description %></li>
                        </ul>
					</div>
                    <a href="javascript:void(0)" class="task-options"><i class="ut-more"></i></a>   
                    <div class="task-options-expanded">
                        <a href="#edit_task_<%= task_data[i].task_id %>" class="btn fancybox">Edit Task</a>
                        <a href="#" class="btn">Archive Task</a>
                        <a href="#" class="btn danger">Delete Task</a>
                    </div>
				</div>
			</div>
		</div>
        
        <div id="edit_task_<%= task_data[i].task_id %>" class="fancybox-popup">
            <div class="popup-close">
                <a href="javascript:void(0)"><i class="ut-close"></i></a>
            </div>
            <div class="popup-header">
                <h3>Edit Task</h3>
                <p class="subtitle"><%= task_data[i].task_title %></p>
            </div>
            <div class="popup-body">
                <div class="form popup-form">
                    <div class="form-inner">
                        <form action="/edit_task?project_id=<%= project_id %>&project_title=<%= project_title %>" method="post" id="edit-task-form">
                            <input type="text" name="task[title]" id="task-title" value="<%= task_data[i].task_title %>" />
                            <span class="error">Please enter a name for your task</span>
                            <input class="pickadate" type="text" name="task[end_date]" id="task-end-date" placeholder="Task End Date" />
                            <span class="error">Please enter an end date for your task</span>
                            <textarea name="task[description]" id="task-description"><%= task_data[i].description %></textarea>
                            <span class="error">Please enter a description for your task</span>
                            <div class="custom-select">
                                <select name="task[users]">
                                    <option disabled="disabled" selected="selected">Edit Task Users</option>
                                    <option><%= username %></option>
                                </select>
                            </div>
                            <textarea type="text" name="task[requirement]" id="task-requirement"><%= requirement_description %></textarea>
                            <input type="hidden" name="task[status]" value="active">
                            <input type="submit" name="submit" class="submit-btn" value="Edit Task" />
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        
        <% } %>
	</div>
</div>

