<% include partials/header %>
	    
	    <div class="content-main">
		    <div class="container">
                <div class="wrapper padded">
                  <h1 class="profile-title">My Projects</h1>  
                    <div class="col-1-1">
                        <div class="list-projects active-project-list">
                            <h4>Active Projects</h4>
                            <ul>
                                <% for(var i=0; i<project_data.length; i++) { %>
                                <li><a href="/project?id=<%= project_data[i].project_id %>"><%= project_data[i].project_title %></a> <span><a href="#edit_project_<%= project_data[i].project_id %>" class="fancybox"><i class="ut-pencil"></i></a> <a href="/delete_project?project_id=<%= project_data[i].project_id %>"><i class="ut-trash"></i></a></span></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                 </div>
			</div>
            
            <% for(var i=0; i<project_data.length; i++) { %>
            <div id="edit_project_<%= project_data[i].project_id %>" class="fancybox-popup">
                <div class="popup-close">
                    <a href="javascript:void(0)"><i class="ut-close"></i></a>
                </div>
                <div class="popup-header">
                    <h3>Edit Project</h3>
                    <p class="subtitle"><%= project_data[i].project_title %></p>
                </div>
                <div class="popup-body">
                    <div class="form popup-form">
                        <div class="form-inner">
                            <form action="/edit_project" method="post" id="edit-project-form">
                                <input type="text" name="project[title]" id="project-title" value="<%= project_data[i].project_title %>" />
                                <span class="error">Please enter a title for your project</span>
                                <input class="pickadate" type="text" name="project[end_date]" id="project-end-date" value="<%= project_data[i].end_date %>" />
                                <span class="error">Please enter an end date for your project</span>
                                <input type="text" name="project[repository]" id="preoject-repo" placeholder="Project Repository" />
                                <span class="error">Please enter a repository for you project</span>
                                <div class="custom-select">
                                    <select name="project[users]">
                                        <option disabled="disabled" selected="selected">Add Project Users</option>
                                        <option>User 1</option>
                                        <option>User 2</option>
                                        <option>User 3</option>
                                    </select>
                                </div>
                                <div class="project-colour">
                                    <div class="custom-checkbox">
                                        <input type="radio" name="project[colour]" value="green" checked="checked">
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="radio" name="project[colour]" value="blue">
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="radio" name="project[colour]" value="pink">
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="radio" name="project[colour]" value="purple">
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="radio" name="project[colour]" value="orange">
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="radio" name="project[colour]" value="turquoise">
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="radio" name="project[colour]" value="yellow">
                                    </div>
                                    <div class="custom-checkbox">
                                        <input type="radio" name="project[colour]" value="red">
                                    </div>
                                </div>
                                <input type="hidden" name="project[status]" value="active">
                                <input type="hidden" name="project[id]" value="<%= project_data[i].project_id %>">
                                <input type="submit" name="submit" class="submit-btn" value="Edit Project" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

		</div> <!-- Close Content Main -->

<% include partials/footer %>